.modal {
  position: fixed;
  inset: 0;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  background: var(--background-modal-color, hsl(0, 0%, 50%, .1));
  display: flex;
  justify-content: center;
  z-index: 1000;
}
