<footer class='container bg-dark-moderate-cyan bg-opacity-70'>
  <div
    class='pt-20 pb-16 flex flex-col justify-center items-center mx-auto max-w-sm '>
    <h2 class='text-center text-very-dark-desaturated-blue font-black text-3xl xl:text-4xl '>sunnyside</h2>
    <!--  link-->
    <ul class='mt-10 flex items-center gap-14'>
      <li><a class='font-bold text-lg text-base text-very-dark-desaturated-blue xl:text-lg' href='#'>About</a></li>
      <li><a class='font-bold text-lg text-base text-very-dark-desaturated-blue xl:text-lg' href='#'>Services</a></li>
      <li><a class='font-bold text-lg text-base text-very-dark-desaturated-blue xl:text-lg' href='#'>Projects</a></li>
    </ul>
    <!--  end link-->


    <!--  socials-->
    <ul class='mt-20 flex gap-6 xl:gap-10'>
      <!--    facebook-->
      <li>
        <a href='#'>
          <img class='w-7 xl:w-8' src='/assets/images/icon-facebook.svg' alt='Facebook'>
        </a>
      </li>
      <!--    end facebook-->

      <!--    instagram-->
      <li>
        <a href='#'>
          <img class='w-7 xl:w-8' src='/assets/images/icon-instagram.svg' alt='Instagram'>
        </a>
      </li>
      <!--    end instagram-->

      <!--    twitter-->
      <li>
        <a href='#'>
          <img class='w-7 xl:w-8' src='/assets/images/icon-twitter.svg' alt='Twitter'>
        </a>
      </li>
      <!--    end twitter-->

      <!--    pinterest-->
      <li>
        <a href='#'>
          <img class='w-7 xl:w-8' src='/assets/images/icon-pinterest.svg' alt='Pinterest'>
        </a>
      </li>
      <!--    end pinterest-->

    </ul>
    <!--  end socials-->
  </div>
</footer>
